.p-sidebar-left {
    z-index: 10000000000 !important;
    width: 600px;
    overflow-y: scroll;
}
.p-component-overlay{
    background-color: rgba(0, 0, 0, 0);
}
.p-sidebar-close {
    display: none;
}
.labStyle {
    font-size: 18px;
    color:#3C4043 ;
    font-weight: bold;
    font-family:'Roboto', 'Noto Naskh Arabic UI', 'Noto Sans Armenian',Arial,sans-serif!important;
}
.iconDesg {
    color: #2e279d;
   margin-right: 50px;
   font-weight: bold;
}
.menuButtonDesign {
    font-size: 16px;
    background-color: #ff5252;
    width: 30%;
    text-align: center;
    color: white;
    font-weight: 400;
    border-radius: 5%;
}
.menuButtonDesign:hover {
    transition: 500ms;
    background-color: #f83e3e;
}