.section-header {
  margin-bottom: 50px;
}
.section-header .section-title {
  font-size: 38px;
  color: #272727;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 4px;
  background: #D91D1D;
}
#services {
  padding: 100px 0 75px;
  background-color: white !important;
}
#features {
  padding: 100px 0;
  background: #F1F1F1;
}
#features .media.service-box:first-child {
  margin-top: 80px;
}
.media.service-box {
  margin: 25px 0 36px;
}
.media.service-box .pull-left {
  margin-right: 20px;
}
.media.service-box .pull-left > i {
  font-size: 32px;
  height: 67px;
  line-height: 64px;
  text-align: center;
  width: 80px;
  color: #D91D1D;
  background: #E0E0E0;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
  border-radius: 50%;
  height: 80px;
  line-height: 80px;
}
 
.media.service-box:hover .pull-left > i {
  color: #232323;
  background: #FFFFFF;
}
.place-form {
  position: relative;
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
}
.customBtn {
  padding: 5px;
  background-color: #e23e57;
  border-radius: 11%;
  color: white;
  border: 0;
  padding: 6px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.customBtn:focus, .customBtn:active {
  border: 0;
}
.customBtn:hover {
  transition: 500ms;
  background-color: #88304e;
}
.customCard {
  -webkit-transition: padding 2s;
}
.customCard:hover{
  opacity: 0.8;
  transition: 1500ms ;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 35px;
}
.menuImage {
  height:200px;
  width:100%
}
.menuImage:hover {
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1) ;
  height:350px ;
  width: 100%;
}
.menuImage {
  -webkit-transition:  2s;
}
.place-list {
  list-style: none;
  margin: 1rem auto;
  padding: 0;
  width: 90%;
  max-width: 50rem;
}
.imgStyling {
  height: 200px;
  width: 100%;
}
.restaurantdetails {
  padding: 25px;
  border : 1px solid rgb(192, 192, 192);
  border-radius: 1%;
  margin: 30px;

}
.labels {
  font-size: 18px;
  color:#3C4043 ;
  font-weight: bold;
  font-family:'Roboto', 'Noto Naskh Arabic UI', 'Noto Sans Armenian',Arial,sans-serif!important;
  margin-top: 10px;
}
.image-upload.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-upload__preview {
  width: 13rem;
  height: 13rem;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.image-upload__preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.deleteicon:hover {
  cursor: pointer;
  color:red;
}
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,500);
/*
Author: webthemez.com
Author URL: http://webthemez.com
*/
/*************************
*******Typography******
**************************/
